*.pdf
*.pyc
*.txt
*.bin
*.h5

**/runs/
**/data/bert_data
**/BERT/data
**/BERT/log/args.json
**/BERT/log/output_stats

**/data/arxiv
**/data/sciencedirect

**data/eval.json
**data/example.json
**data/results.json
**data/dataset.json

*.pdf
*.pyc
*.txt
**/__pycache__

