*.pdf
*.pyc
*.txt
*.bin
*.h5

**/runs/
**/data/bert_data
**/BERT/data
**/BERT/log/args.json
**/BERT/log/output_stats

**/PaperScraper/data

**data/eval.json
**data/example.json
**data/results.json
**data/dataset.json
**data/results_arxiv.json

*.pdf
*.pyc
*.txt
**/__pycache__

.idea/

